<footer class="footer">
    <div class="container-fluid clearfix">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Butun huquqlar qorunur</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> | @DateTime.UtcNow <a href="https://www.instagram/unitytech.az" target="_blank"> </a> UnityTech Group</span>
    </div>
</footer>
