<div class="tech-btm">
	<p>Texnologiya ve programlashdirma ile bagli diger bloglari mail ile alin</p>
	<form action="/NewsLetter/SubscribeMail/" method="post">
		<input type="email" placeholder="Email" required="" name="Mail">
		<input type="submit" value="Abune ol">
	</form>

</div>
